doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')

    link(rel='stylesheet', href='css/chat-room.css')
    
    meta(name='theme-color', content='$444444')
    title CHITCHAT
  body(ng-app="tchatroomApp", ng-controller="tchatroomCtrl", style="background-color:#E8E8E7;")
    .roomtitle
      span(style="display: table-cell; vertical-align: middle;") {{chatroomid}}
      ul#messages
      form(action='')
        div ????
        input#m(autocomplete="off")
        button Send

    script
<<<<<<< HEAD
       localStorage.token = !{token};
=======
      | localStorage.token = !{token};
    script(src="js/common/url.js")
>>>>>>> 08df5fe3b164d7083954a32d1c8748ed4c7df1ba
    script(src="js/chatroom/chat-room.js")