doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')

    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/bootstrap-theme.css')
    link(rel='stylesheet', href='css/chitchat.css')

    script(src='js/bootstrap.js')
  body("ng-app"='tschedularApp', "ng-controller"="tschedularCtrl")
    .king
        ul.topnav
          li.notactive
            img.logo(src='./img/main_logo.png', alt='')
          li.right(style='display:hidden', "ng-click"='join()', ng-show="!isLoggedIn()") 회원가입
          li.right(style='display:hidden', "ng-click"='login()', ng-show="!isLoggedIn()") 로그인
          li.right(style='display:hidden', "ng-click"='logout()', , ng-show="isLoggedIn()") 로그아웃
        #bbb.size
          .cc-container-group
            .container-1
              .container-1-btn
                input.cc-blue(type='button', "ng-click"='favorites()', value='즐겨찾기')
                input.cc-blue.cc-right(type='button', "ng-click"='popularity()', value='인기채팅방')
              .container-1-thumnail
                .thumnail-btn
                  img.thumnail-btn-img.left-btn(src="/img/main_body_button_left.png")
                .realthumnail
                    .athumbnail
                      img.thumnail( src="/img/main_default.png" alt='사진', style="height:75%; width:100%;")
                      .white_box
                        div(style="float:right; margin-right:12px; margin-top:10px;")
                          img(src="/img/main_girl.png", style="width:30px; margin-right:10px;")
                          img(src="/img/main_mangirl.png", style="width:30px")
                    .athumbnail
                      img.thumnail( src="/img/main_default.png" alt='사진', style="height:75%; width:100%;")
                      .white_box
                        div(style="float:right; margin-right:12px; margin-top:10px;")
                          img(src="/img/main_girl.png", style="width:30px; margin-right:10px;")
                          img(src="/img/main_mangirl.png", style="width:30px")
                    .athumbnail
                      img.thumnail( src="/img/main_default.png"  alt='사진', style="height:75%; width:100%;")
                      .white_box
                        div(style="float:right;  margin-right:12px; margin-top:10px;")
                          img(src="/img/main_girl.png", style="width:30px; margin-right:10px;")
                          img(src="/img/main_mangirl.png", style="width:30px")
                    .athumbnail
                      img.thumnail( src="/img/main_default.png"  alt='사진', style="height:75%; width:100%;")
                      .white_box
                        div(style="float:right;  margin-right:12px; margin-top:10px;")
                          img(src="/img/main_girl.png", style="width:30px; margin-right:10px;")
                          img(src="/img/main_mangirl.png", style="width:30px")
                .thumnail-btn
                  img.thumnail-btn-img(src="/img/main_body_button_right.png")
        .smallking
          div
            .container-2("data-ng-init"="showDramaList()")
              .container-2-btn
                ul
                  li
                    a("ng-click"="showDramaList()") {{mon}}
                  li
                    a("ng-click"="showDramaList()") {{tue}}
                  li
                    a("ng-click"="showDramaList()") {{wed}}
                  li
                    a("ng-click"="showDramaList()") {{thu}}
                  li
                    a("ng-click"="showDramaList()") {{fri}}
                  li
                    a("ng-click"="showDramaList()") {{sat}}
                  li
                    a("ng-click"="showDramaList()") {{sun}}
              hr.border
              div
                ul.container-2-time
                  li.title 현재시간
                    span(style="float:right")
                      input(type="image", "ng-click"="left1Hour()", "ng-src"="./img/main_body_button_left2.png", alt="left", style="width:30%;")
                      li.time.active 오후 {{now +0 -12}}:00
                      li.time 오후 {{now +1 -12}}:00
                      li.time 오후 {{now +2 -12}}:00
                        span(style="float:right")
                          input(type="image", "ng-click"="right1Hour()", "ng-src"="./img/main_body_button_right2.png", alt="right", style="width:30%;")
          .wrap
            .timetable
              .timetable-rows.first-row
                .timetable-title
                  img(src="/img/main_tvn.png", alt="Smiley face", height="100%",width="50%", vertical-align= "middle")
                div.width
                    .timetable-content(
                        "ng-repeat"="x in dramalist"
                        "ng-if"="x.channel=='111111111111111111111111'"
                        "ng-mouseover"="cheked=true"
                        "ng-mouseleave"="cheked=false"
                        "class"="index_{{$index}} size_{{x.totaltime}}"
                        )
                        span("ng-hide"="cheked") {{x.title}}
                        input(type="button", value="여", "ng-click"="openNewWindows(x.chatrooms[0]._id)", "ng-show"="cheked")
                        input(type="button", value="남여", "ng-click"="openNewWindows(x.chatrooms[0]._id)", "ng-show"="cheked")                       
              .timetable-rows
                .timetable-title
                  img(src="/img/main_tvn.png", alt="Smiley face", height="100%",width="50%", vertical-align= "middle")
                div.width
                    .timetable-content(
                        "ng-repeat"="x in dramalist"
                        "ng-if"="x.channel=='111111111111111111111111'"
                        "ng-mouseover"="cheked=true"
                        "ng-mouseleave"="cheked=false"
                        "class"="index_{{$index}}"
                        )
                        span("ng-hide"="cheked") {{x.title}}
                        input(type="button", value="여", "ng-click"="openNewWindows(x.chatrooms[0]._id)", "ng-show"="cheked")
                        input(type="button", value="남여", "ng-click"="openNewWindows(x.chatrooms[0]._id)", "ng-show"="cheked")  
              .timetable-rows
                .timetable-title
                  img(src="/img/main_tvn.png", alt="Smiley face", height="100%",width="50%", vertical-align= "middle")
                div.width
                    .timetable-content(
                        "ng-repeat"="x in dramalist"
                        "ng-if"="x.channel=='111111111111111111111111'"
                        "ng-mouseover"="cheked=true"
                        "ng-mouseleave"="cheked=false"
                        "class"="index_{{$index}}"
                        )
                        span("ng-hide"="cheked") {{x.title}}
                        input(type="button", value="여", "ng-click"="openNewWindows(x.chatrooms[0]._id)", "ng-show"="cheked")
                        input(type="button", value="남여", "ng-click"="openNewWindows(x.chatrooms[0]._id)", "ng-show"="cheked")  
              .timetable-rows
                .timetable-title
                  img(src="/img/main_tvn.png", alt="Smiley face", height="100%",width="50%", vertical-align= "middle")
                div.width
                    .timetable-content(
                        "ng-repeat"="x in dramalist"
                        "ng-if"="x.channel=='111111111111111111111111'"
                        "ng-mouseover"="cheked=true"
                        "ng-mouseleave"="cheked=false"
                        "class"="index_{{$index}}"
                        )
                        span("ng-hide"="cheked") {{x.title}}
                        input(type="button", value="chat", "ng-click"="openNewWindows(x.chatrooms[0]._id)", "ng-show"="cheked")

    script
      | localStorage.token = !{token};
    script(src="js/common/url.js")
    script(src="js/schedular/tschedular.js")
    script(src="js/model/userModel.js")
    script(src="js/model/dramaModel.js")
    script(src="js/service/userService.js")
    script(src="js/service/dramaService.js")