doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Welcome to #{title}
    script(src='js/fb.js')
    script(src='js/httpUtil.js')
    script(src='js/account.js')
    fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')#fb-button

    #status