doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Welcome to #{title}
    script(src='javascripts/fb.js')
    fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')

    #status