doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')

    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/bootstrap-theme.css')
    link(rel='stylesheet', href='css/chitchat.css')

    script(src='js/bootstrap.js')
  body("ng-app"='tschedularApp', "ng-controller"="tschedularCtrl")
    .king
        ul.topnav
          li.notactive
            img.logo(src='./img/main_logo.png', alt='')
          li.right(style='display:hidden', "ng-click"='join()', ng-show="!isLoggedIn()") 회원가입
          li.right(style='display:hidden', "ng-click"='login()', ng-show="!isLoggedIn()") 로그인
          li.right(style='display:hidden', "ng-click"='logout()', , ng-show="isLoggedIn()") 로그아웃
          li.right(style='display:hidden', "ng-click"='gosetting()', , ng-show="isLoggedIn()") setting
        #bbb.size
          .cc-container-group
            .container-1
              .container-1-btn
                input.cc-blue(type='button', "ng-click"='favorites()', value='즐겨찾기', "ng-class"="!isFav() ? 'cc-right' : ''")
                input.cc-blue(type='button', "ng-click"='popularity()', value='인기채팅방', "ng-class"="isFav() ? 'cc-right' : ''")
              .container-1-thumnail
                .thumnail-btn
                  img.thumnail-btn-img.left-btn(src="/img/main_body_button_left.png" )
                .realthumnail
                  .athumbnail("ng-repeat"="drama in truncatedList")
                    img.thumnail( "ng-src"="/img/{{drama.title}}.png" alt='사진', style="height:75%; width:100%;")
                    .white_box
                      div(style="float:right; margin-right:12px; margin-top:10px;")
                        button.imgbutton("ng-repeat"="c in drama.chatrooms", "ng-if"="filterChatroom(c)", style="{ background-color: white; border: white; }")
                          img("ng-src"="{{getGenderFromChatroom(c)}}", "ng-click"="openNewWindows(c._id)", style="width:30px;", ng-style="$last ? '' : 'margin-right:10px;'")
                .thumnail-btn
                  img.thumnail-btn-img(src="/img/main_body_button_right.png" )
        .smallking
          div
            .container-2()
              .container-2-btn
                ul
                  li("ng-repeat"="day in week")
                    a("ng-click"="setWeekDay(day.index)") {{day.kr}}
          hr.border
          div
            ul.container-2-time
              li.title
                span 현재시간
              li.arrow
                input(type="image", "ng-click"="left1Hour()", "ng-src"="./img/main_body_button_left2.png", alt="left", style="width:30%;")
              li.time(ng-repeat="i in [0, 1, 2]", ng-class="$first ? 'active' : ''")
                span(style="") {{getHoursString(now + i)}}
              li.arrow
                input(type="image", "ng-click"="right1Hour()", "ng-src"="./img/main_body_button_right2.png", alt="right", style="width:30%;")
          .wrap
            .timetable
              .timetable-rows("ng-repeat"="channel in channelList", "ng-class"="$first ? 'first-row' : ''")
                .timetable-title
                  img("ng-src"="{{channel.img}}", alt="Smiley face", height="100%",width="50%", vertical-align= "middle")
                div.width
                    .timetable-content(
                        "ng-repeat"="x in dramalist"
                        "ng-if"="x.channel == channel.name"
                        "ng-mouseover"="cheked=true"
                        "ng-mouseleave"="cheked=false"
                        "class"="index_{{$index}}"
                        )
                        span("ng-hide"="cheked") {{x.title}}
                        div(ng-show="cheked")
                          button.imgbutton("ng-repeat"="c in x.chatrooms", "ng-if"="filterChatroom(c)")
                            img(ng-src="{{getGenderFromChatroom(c)}}", "ng-click"="openNewWindows(c._id)", style="width:30px;", ng-style="$last ? '' : 'margin-right:10px;'")

    script
      | localStorage.token = !{token};
    script(src="js/common/url.js")
    script(src="js/schedular/tschedular.js")
    script(src="js/model/userModel.js")
    script(src="js/model/dramaModel.js")
    script(src="js/service/userService.js")
    script(src="js/service/dramaService.js")