doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    script(type='text/javascript')
      | localStorage.token = #{token};

    #status