doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')

    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/bootstrap-theme.css')
    link(rel='stylesheet', href="css/setting.css")

    script(src='js/bootstrap.js')
    
  body("ng-app"='tschedularApp', "ng-controller"="tschedularCtrl")
    .king
        ul#bbb.topnav 
          li.notactive
            img.logo(src='./img/main_logo.png', alt='')
          li.right(style='display:hidden', "ng-click"='join()', ng-show="!isLoggedIn()") name님
    .smallking
        .info
            div#myinfo 내 정보
            div.text 회원정보는 가입하신 페이스북 계정에서 불러온 것으로 변경을 원할 시에는 
            div.text 페이스북 계정 정보를 수정하고 페이스북 정보 갱신하기 버튼을 눌러주세요.
            .inputinfo
                input.normal(placeholder="    ddd" ng-model="nickname")
                //- input.normal(placeholder="고유 코드" ng-model="")
                input.normal(placeholder="    이름" ng-model="name")
                input.normal(placeholder="    성별" ng-model="gender")
                input.xlarge(placeholder="    E-mail" ng-model="email")
                input.xlarge(placeholder="    관심콘텐츠" ng-model="likeDrama") 
            .div
                input.setting_btn(type="button", value="메인으로", style="width:100px")
                input.setting_btn(type="button", value="변경", style="width:100px")
                input.setting_btn(type="button", value="페이스북으로 정보 갱신하기", style="width:210px")
                
    script
     | localStorage.token = !{token};
    script(src="js/common/url.js")
    script(src="js/schedular/tschedular.js")
    script(src="js/model/userModel.js")
    script(src="js/model/dramaModel.js")
    script(src="js/service/userService.js")
    script(src="js/service/dramaService.js")
    script
    console.log(userInfo.getItem(nickname))
