
html, body, .page, .message-container {
   height: 100%;
  flex-direction: column;
}

.chat-container, .chat-form {
    display: flex;
}

.chat-form {
  flex:1;
  max-height:136px;
  background-color: #009688 !important;
  color: black;
  margin-top:-15px;
}

.chat-form{
  	background-color:#4db6ac;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.chat-form .input-field input {
 border-color: #FFFFFF;
}

.chip {
 font-style: italic;
}

.mdi-communication-chat{
  color:white;
}


.ngn {
	padding: 8px 80px;
}

.ngn-success {
	background-color:#4db6ac;
}



li {
  background-color: navajowhite;
  color:black;
}