/*----------nav---------------*/
.logo{
    width:128px;
    height:auto;
}
.right{
    margin:70px 1% 0 0;
    border-radius : 13px;
    background-color: #4CAAD8;
      font-size: 95%; 
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 2% 12.5% 0 12.5%;
    overflow: hidden;
    background-color:lightyellow;
}

ul.topnav li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
}

ul.topnav li:hover:not(.notactive) {
    background-color: #111;
    border-radius : 13px;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 900px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
    .right {
        padding-top : 0;
        border-radius : 0px;
        padding:0;
        margin:0;
        }
    ul.topnav{
        padding:0;
    }
    ul.topnav li:hover:not(.notactive) {
    background-color: #111;
    border-radius : 0px;}
}
/*------nav------end-----------*/

/*------thumnail---------------*/

.size{
    margin: 3% 0 0 0;  
    height:450px;
    background-size: cover;
}
.cc-container-group{
     padding: 2% 12.5% 0 12.5%; 
     background-image: "./img/banner.png";
}
.container-1-btn {
     padding: 0 0 2% 6%;   
}
.cc-blue{
    background-color: #2A89C9;
    color: white;
    border-radius : 13px;
    text-decoration: none;
    border : 1px solid #2A89C9;
    text-align: center;
    font-size: 95%;   
    padding: 8px 12px 8px 12px;
    width:10%;
}
.container-1-thumnail{
    margin-bottom: 30px;
    height:300px;
    width: 100%;
    background-color: red;
    padding: 0 0 0% 0%;  
}

@media screen and (max-width: 1000px){
    .cc-container-group{
        padding:0;
        width:100%;
        margin: 0;
    }
    .container-1{
        padding:0;
        width:100%;
        margin:0;
        height:300px;
    }
    div.container-1-btn{
        padding:0 0 0 0;
        width: 15%;
        height:100%;
        display: inline-block;
    }
    .container-1-thumnail{
        height:300px;
        background-color: red;
        width:85%;
        float: right;
        padding:0;
        margin:0;
        top:0;
    }
    div.container-1-btn input{
        padding:0;
        margin:0;
        width:100%;
        height:50%;
        display: block;
    }
    .size{
        padding : 0;
        margin:0;
    }
    .cc-blue{
        border-radius: 0;
        height:35px;
    }
}
/*------thumnail----end-----------*/
.container-2-btn ul{
     float:left;
     width:88%;
     height:100%;
     margin:0; 
     padding:0;
}

.container-2-btn li{
    margin: 10px 10px 10px 0;
    display:inline-block;
}

.container-2-btn li a{
    font-size: 1.7em;
    color: grey;
    text-decoration: none;
    
}
.container-2-btn li a:hover{
    font-size: 1.7em;
    color: black;
    text-decoration: none;
}

.border{
    border:2px solid #7184a9;
    width:100%;
}

.container-2-time{
     float:left;
     width:100%;
     height:50px;
     margin:0 0 3% 0; 
     padding:0;
     background-color: #4CAAD8;
     color:white;
     border-radius: 20px;
     text-align:center;
     font-size: 1.3em;
     display : flex;
     align-items: center; 
}

#input{
    padding:0;
    margin : 0 auto;
}

/*timetable*/
.timetable{
    float:left;
    width:100%;
    text-align: center;
    font-size: 1.4em;
    margin: 0;
    padding:0;
}

.timetable-row{
    width:100%;
    height:50px;
    margin:0;
}

.timetable-title{
    display : inline-block;
    color: #565656;
    width:13%;
    height:100%;
    padding: 0;
    border:1px solid #565656 ;
    margin-right:-1%;
}

#div, #span {
    margin: 0;
    padding:0;
    height:100%;
}

.timetable-content {
    display: inline-block;
    width:28.4%;
    height:100%;
    border:1px solid black;
    margin:0;
    margin-left:0;
}







.active{
    background-color: #E6EEF4;
}





