/*-------font-family----------*/
@font-face{
 font-family:'Godom';
 font-style:normal;
 font-weight:50;
 src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
     url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}
@font-face{
 font-family:'Godob';
 font-style:normal;
 font-weight:50;
 src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'),
     url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}



html, div{
    font-family: Godom;
}
/*----------nav---------------*/

.king {
    width: 1260px;
    margin: 0 auto;
}

.smallking {
    width: 75%;
    margin: 0px 12.5% 0px 12.5%;
}

#bbb{
    margin: 3% 0 0 0;
    height:300px;
    width: 100%;
    background-image: url('../img/banner.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.logo{

    bottom:0;
    width:128px;
    height:auto;

}
.right{
    margin:70px 10px 0 0;
    border-radius : 13px;
    background-color: #4CAAD8;
    font-size: 10pt;
    width:110px;
}
ul.topnav {
    list-style-type: none;
    height:130px;
    margin: 0;
    padding: 1% 12.5% 0 12.5%;
    overflow: hidden;
}

ul.topnav li{
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;

}

ul.topnav li:hover:not(.notactive) {
    background-color: #2A89C9;
    border-radius : 13px;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 900px){
   li.noactive{
       width:100%;
   }
    ul.topnav li.right,
    ul.topnav li {float: none;
    width: 100%;}
    .right {
        padding-top : 0;
        border-radius : 0px;
        padding:0;
        margin:0;
        }
    ul.topnav{
        padding:0;
        height:100%;
    }
    ul.topnav li:not(.right){
        width:100%;
    }
    ul.topnav li:hover:not(.notactive) {
    background-color: #111;
    border-radius : 0px;}
}
/*------nav------end-----------*/

/*------thumnail---------------*/

.cc-container-group{
    width: 75%;
    margin: 0px 12.5% 0px 12.5%;
    padding: 10px 1px 1px 1px;
}
.container-1-btn {
     padding: 0 0 2% 6%;
}
.cc-blue{
    background-color: #2A89C9;
    color: white;
    border-radius : 13px;
    text-decoration: none;
    border : 1px solid #2A89C9;
    text-align: center;
    font-size: 10pt;
    padding: 5px 5px;
    width:93px;
    margin-right: 1.5%;
}

.cc-right{
    background-color: #E6EEF4;
    border:1px solid #E6EEF4;
    color:black;
}

.thumnail{
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.white_box{
    width:100%;
    height: 25%;
    background: white;
    border-bottom-left-radius:  16px;
     border-bottom-right-radius:  16px;
}


.thumnail-btn{
    display: inline-block;
    height:200px;
    width:6%;

}

.thumnail-btn-img{
    width:40px;
    margin-top:80px;
}

.left-btn{
    margin-right: 2.5%;
}

.realthumnail{
    display: inline-block;
    width:88%;
    height:200px;
    margin: auto;
}
.container-1-thumnail{
    margin-bottom: 30px;
    height:200px;
    width: 985px;
    padding: 0 0 0% 0%;
}

.athumbnail {
    display:inline-block;
    height:100%;
    width:23%;
    border-radius:16px;
    box-shadow:3px 3px 5px grey;
    margin: 0px 2% 0px 0%;
}

@media screen and (max-width: 1000px){
    .cc-container-group{
        padding:0;
        width:100%;
        margin: 0;
    }
    .container-1{
        padding:0;
        width:100%;
        margin:0;
        height:300px;
    }
    div.container-1-btn{
        padding:0 0 0 0;
        width: 15%;
        height:100%;
        display: inline-block;
    }
    .container-1-thumnail{
        height:300px;
        background-color: red;
        width:85%;
        float: right;
        padding:0;
        margin:0;
        top:0;
    }
    div.container-1-btn input{
        padding:0;
        margin:0;
        width:100%;
        height:50%;
        display: block;
    }
    .size{
        padding : 0;
        margin:0;
    }
    .cc-blue{
        border-radius: 0;
        height:35px;
    }
}
/*------thumnail----end-----------*/
.container-2-btn ul{
     float:left;
     width:266px;
     height:100%;
     margin:0;
     padding:0;
}

.container-2-btn li{
    margin: 9.3px 9px 4px 9.3px;
    display:inline-block;
}

.container-2-btn li a{
    font-size: 16pt;
    color: grey;
    text-decoration: none;

}
.container-2-btn li a:hover{
    font-size: 16pt;
    color: black;
    text-decoration: none;
}

.border{
    border:2px solid #7184a9;
    width:100%;
}

.container-2-time{
     float:left;
     width:100%;
     height:50px;
     margin:0 0 20px 0;
     padding:0;
     background-color: #4CAAD8;
     color:white;
     border-radius: 20px;
     align-items: center;
}


/*---------------ul.container-2-time--------------*/
.active{
    background-color: #E6EEF4;
    color: #565656 ;
}

ul.container-2-time li.title{
    width: 10%;
    margin: 0;
    padding: 0;
}

ul.container-2-time li.arrow{
    width: 3%;
    margin: 0;
    padding: 0;
}

ul.container-2-time li.time{
    border-left: 1px solid white;
    width: 28%;
    margin: 0;
    padding: 0;
}

ul.container-2-time li{
    display: inline-block;
    margin: 0 auto;
    padding : 14px;
    height: 50px;
    list-style-type: none;
    vertical-align: middle;
    align-items: center;
}

ul.container-2-time li span {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: Godob;
    font-size: 11pt;
    width: 100%;
    line-height: 50px
}

ul.container-2-time li input {
    margin: 0 auto;
    padding-top: 17px;
}



/*-------ul.container-2-time-----end---------*/


/*timetable*/
.timetable{
    float:left;
    width:100%;
    text-align: center;
    font-size: 1.4em;
    margin: 0 0 0 0;
    padding:0;
    border: 0.5px solid #BABABB;
    border-radius: 13px;
}

div{
    padding:0;
    margin: 0;
}
.timetable-rows{
    width:100%;
    height:55px;
    padding:0;
    margin:0;

    border: none;
    border-bottom:0.5px solid #BABABB;
}

.first-row{
    border: none;
    border-bottom:0.5px solid #BABABB;
    

}

.goodwife{
    background-image: url("../img/thumnail/Concert_7080.png");
    background-repeat:no-repeat;
    background-size: cover;  
}

.fourman{
    background-image: url("../img/thumnail/GayoMudae.png");
    background-repeat:no-repeat;
    background-size: cover;   
}

.timetable-title{
    display : inline-block;
    color: #565656;
    width:13%;
    height:100%;
    padding: 15px 24.5px;
    float: left;
    vertical-align: middle;
     border-right:0.5px solid #BABABB;
}

div.width{
    display: inline-block;
    height: 100%;
    width:87%;
}




.timetable-content {
    display: inline-block;
    float: left;
    width:33.33%;
    height:100%;
    border-top: none;
    border-right: 0.5px solid #BABABB;
    margin:0;
    margin-left:0;
    color : #565656;
}

.index_0{
    background-color: #E6EEF4;
    color : #ffffff;
    }



.size_70{
    width: 50%
}

.image_width{

}