/*-------font-family----------*/
@font-face{
 font-family:'Godom';
 font-style:normal;
 font-weight:50;
 src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
     url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}
@font-face{
 font-family:'Godob';
 font-style:normal;
 font-weight:50;
 src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'),
     url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}


html, div{
    font-family: Godom;
}
/*----------nav---------------*/

.king {
    width: 1260px;
    margin: 0 auto;
}

.smallking {
    width: 1260px;
    margin: 0 auto;
}

.info{
    width: 985px;
}

#bbb{
    margin: -60px 0 0 0;  
    height:250px;
    width: 100%;
    background-image: url('../img/banner.png');
    background-repeat:no-repeat;
    background-size: cover;  
}

.logo{
    margin: 80px 0 0 0;
    width:128px;
    height:auto;
 
}
.right{
    margin:70px 10px 0 0;
    border-radius : 13px;
    background-color: #4CAAD8;
    font-size: 10pt; 
    width:110px;
}
ul.topnav {
    list-style-type: none;
    height:130px;
    padding: 1% 12.5% 0 12.5%;
    overflow: hidden;
}

ul.topnav li{
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    
}


ul.topnav li:hover:not(.notactive) {
    background-color: #2A89C9;
    border-radius : 13px;
}

ul.topnav li.right {
    float: right;
    margin-top : 140px;
}


@media screen and (max-width: 900px){
   li.noactive{
       width:100%;
   }
    ul.topnav li.right,
    ul.topnav li {float: none;
    width: 100%;}
    .right {
        padding-top : 0;
        border-radius : 0px;
        padding:0;
        margin:0;
        }
    ul.topnav{
        padding:0;
        height:100%;
    }
    ul.topnav li:not(.right){
        width:100%;
    }
    ul.topnav li:hover:not(.notactive) {
    background-color: #111;
    border-radius : 0px;
    }
}

#myinfo {
    
    font-family: Godob;
    font-size: 25pt;
    margin-bottom: 5px;
}

.info{
    padding: 0% 12.5% 0 14.1%;
    margin-top:20px;
}

.text{
    padding-bottom: 5px;
    font-size: 10pt;
    width: 430px;
    word-spacing: -2;
}
.inputinfo{
    display: inline-block;
    margin-top: 40px;
}

.normal{
    display: block;
    width: 200px;
    height:40px;
    margin-bottom: 15px;
    border-radius: 13px;
}

.xlarge{
    display: block;
    width: 430px;
    margin-bottom: 15px;
    height:40px;
    margin-bottom: 15px;
    border-radius: 13px;
}

input {
  padding: 7px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #dddddd;
  -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 0px 0px 0px 0px #dddddd;
  border: 1px solid #BABABB;
}

.setting_btn{
    display: inline-block;
    margin-right: 10px;
    background-color: #E0E0DF;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    
}